.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.content {
  width: 1200px;
  height: 100vh;
  padding: 80px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
}

button, .cancelar {
  width: auto;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  font-size: 14px;
  font-weight: 400;
  color: white;
  background-color: cornflowerblue;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 0px 15px;
  box-sizing: border-box;
  cursor: pointer;
  opacity: 1;
  transition: 0.4s ease all;
}

button:hover, .cancelar:hover {
  opacity: 0.7;
  transition: 0.4s ease all;
}

.add-btn {
  font-weight: 600;
}

.box {
  overflow: auto;
  height: 100%;
  width: 100%;
}

.box::-webkit-scrollbar-track {
  background-color: rgba(219, 214, 214, 0)
}

.box::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: rgba(146, 146, 146, 0.26);
}

.box::-webkit-scrollbar-thumb {
  background: cornflowerblue;
}

table {
  margin-top: 15px;
  padding: 20px 30px;
  background-color: aliceblue;
  border-radius: 5px;
  border-collapse: collapse;
  min-width: 100%;
  box-sizing: border-box;
}

th {
  font-size: 16px;
  color: cornflowerblue;
  font-weight: 600;
  padding: 10px 20px;
  box-sizing: border-box;
  text-align: left;
  border-bottom: 1px solid white;
  text-transform: uppercase;
}

td {
  font-size: 16px;
  color: rgb(43, 43, 43);
  font-weight: 400;
  padding: 10px 20px;
  box-sizing: border-box;
  text-align: left;
  border-bottom: 1px solid white;
}

tr:last-child td {
  border-bottom: none;
}

span {
  cursor: pointer;
}

.aviso {
  font-size: 12px;
  color: gray;
  line-height: 20px;
  margin: 25px 0px 15px 0px;
}

td .id {
  display: none;
}

.pendente, .pausado, .finalizado {
  width: auto;
  height: auto;
  padding: 5px 8px;
  font-size: 12px;
  border-radius: 3px;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  cursor: default;
}

.pendente {
  background-color: rgb(206, 65, 65);
}

.pausado {
  background-color: steelblue;
}

.finalizado {
  background-color: darkgreen;
}

.editar, .excluir {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: white;
  opacity: 1;
  transition: 0.4s ease all;
}

.editar {
  background-color: royalblue;
}

.excluir {
  background-color: #817e7e;
}

.editar:hover, .excluir:hover {
  opacity: 0.7;
  transition: 0.4s ease all;
}

@media (max-width: 1200px) {
  .content {
    width: 100%;
    height: 100vh;
    padding: 80px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
  }
  th {
    font-size: 16px;
  }
  td {
    font-size: 14px;
  }
  button {
    font-size: 14px;
  }
}

